app/media
app/frontend/node_modules
# frontend/migrations/*_auto_*
.vscode
# browserApp/migrations/*_auto_*
browserApp/migrations/__pycache__
browserApp/migrations/__pycache__
frontend/__pycache__
backend/__pycache__
scrna.env
app_test